* {
  margin: 0;
}

.Main {
  display: flex;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}

/* .topbar-right {
  display: flex;
  align-items: center;
}

.topbar-center {
  display: flex;
  align-items: center;
  width: 40%;
  border: 1px solid lightgray;
} */
